<div class="container mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="cantidad">Ingrese cantidad</label>
                <input type="number" class="form-control form-control-lg" id="cantidad" placeholder="Ingrese cantidad">
            </div>
        </div><!--Fin col-lg-12-->
    </div><!--Fin row-->
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="tengo">Tengo</label>
                <select class="form-control form-control-lg" id="tengo">
                  <option>USD</option>
                  <option>EUR</option>
                  <option>LIB</option>
                </select>
            </div>
        </div><!--Fin col-lg-6-->
        <div class="col-lg-6">
            <div class="form-group">
                <label for="quiero">Quiero</label>
                <select class="form-control form-control-lg" id="quiero">
                  <option>USD</option>
                  <option>EUR</option>
                  <option>LIB</option>
                </select>
            </div>
        </div><!--Fin col-lg-6-->
    </div><!--Fin Row-->
    <h5 class="text-center mt-2">1000 USD son 800 EUR</h5>
</div>
